body{
    background-color:hsl(217, 54%, 11%);
      display: flex;
      align-items:  center;
      justify-content: center;
      height: 100vh;
      font-family: Outfit;
    
}
.container-card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15rem;
    height: 25rem;
    font-size: 18px;
    background-color: hsl(216, 50%, 16%);
    padding: 1rem;
    border-radius: 10px;
}
.container-card img{
    border-radius: 10px;
}
.title{
    color: hsl(0, 0%, 100%);
font-weight: 600;

}
.description{
    color: hsl(215, 51%, 70%);
    font-size: 16px;
    font-weight: 400;
}
.container-icons{
    display: flex;
    justify-content: space-between;
}
.container-icons div{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.line{
    width: 100%;
    height: 0.1rem;
    background-color: hsl(215, 51%, 70%);
}
.container-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-user img{
    width: 30px;
    border-radius: 100%;
    border: 1px solid white;
}
.container-user p{
    color: white;
}
.container-user span{
    color: hsl(178, 100%, 50%);
}
.ethereum{
    color: hsl(215, 51%, 70%);
}
