body {
  background-color: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
* {
  box-sizing: border-box;
  font-family: "Outfit";
}
.container-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 17rem;
  height: 28rem;
  font-size: 18px;
  background-color: hsl(216, 50%, 16%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px hsl(216, 50%, 10%);
}
.container-card:hover {
  background-color: hsl(216, 50%, 18%);
  cursor: pointer;
}
.container-card img {
  border-radius: 10px;
}
.title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.description {
  color: hsl(215, 51%, 70%);
  font-size: 16px;
  font-weight: 400;
}
.container-icons {
  display: flex;
  justify-content: space-between;
}
.container-icons div {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.container-icons div p {
  margin-left: 8px;
}
.line {
  width: 100%;
  height: 0.1rem;
  background-color: hsl(215, 51%, 70%);
}
.container-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-user img {
  width: 30px;
  border-radius: 100%;
  border: 1px solid white;
}
.container-user p {
  color: white;
}
.creation {
  color: hsl(215, 51%, 70%);
}
.ethereum {
  color: hsl(215, 51%, 70%);
}
.banner {
  display: flex;
  flex-direction: column;
}
.imagem-hover {
  z-index: 999;
  display: none;
}
.banner:hover .imagem-hover {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner:hover .imagem-hover img {
  width: 15px;
  height: 15px;
  margin-top: -15rem;
}
.autor:hover {
  color: hsl(178, 100%, 50%);
}
.clock p {
  color: hsl(215, 51%, 70%);
}
.title:hover {
  color: rgb(0, 255, 247);
}
.imagem {
  top: 0;
}
